/*@       TEST           */
body {
  background-color: aliceblue;
}

/*st       Logo           */
#w3_logo {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto 20px auto;
}

/*st       Navigation     */
nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 15px;
  text-decoration: none;
  background-color: #3a393956;
  font-weight: bold;
}

/*st  Header  */
header {
  margin-top: 5rem;
  text-align: center;
  font-size: 22px;
}

/*st   Links */
a {
  text-decoration: none;
  color: #333;
  text-align: center;
}

a:hover {
  color: #007bff;
  text-decoration: underline;
}

/*st   Footer  */
footer {
  text-align: center;
  margin-top: 5rem;
  
  background-color: #f1f1f1;
  border-top: 1px solid #ccc;
}
